<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutForPage}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<!-- [[${reviewInfo}]] 여기까지 했음(0806 오전). 이제 마크업 하고 타임리프 each 반복문으로 리뷰 리스트 뿌리자 -->
	
	<div class="justify-content-center">
		<article class="article d-flex flex-wrap justify-content-center">
			<div class="pt-5 pr-3 pl-3" th:each="review, status : ${reviewInfo}">
				<div class="reviewBox">
					<div class="d-flex">
						<h3 class="pt-3 ml-4 font-weight-bold" th:text="${review.userNickName}"></h3>
						<!-- 240812 but 추후 다시 
						<h3 class="pt-3 ml-4 font-weight-bold" th:text="${point}"></h3>  
						-->
					</div>
					<hr>
					<h4 class="reviewText text-secondary ml-4 mr-4" th:text="${review.review}"></h4>
				</div>
			</div>
		</article>
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>