<!DOCTYPE html>
<html 
	lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- config 자리 -->
	<th:block th:replace="fragments/config :: configFragment"></th:block> 
<body>
	<div id="wrap">
		<!-- header -->
		<header th:replace="fragments/headerForPage :: headerFragmentForPage"></header>
		
		<!-- contents 영역 -->
		<section layout:fragment="content"></section>
		
		<!-- JS 문법 써내려갈 script 파트 -> content 조각 안에 있음 -->
		<th:block layout:fragment="script"></th:block>
		
		<!-- footer 자리 -->
		<footer th:replace="fragments/footerForPage :: footerFragmentForPage"></footer>
	</div>
	
	<script>
		$(document).ready(function() {
			// searchBtn 검색 버튼 클릭 이벤트
			$("#searchBtn").on('click', function(e) {
				e.preventDefault();
				//alert("중간점검"); 
				
				// validation
				let movieInfo = $("#searchMovie").val();
				//alert(movieInfo);
				
				$.ajax({
					// request
					type: "get"
					, url: "/movie/movie-search"
					, data: {"movieInfo":movieInfo}
				
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("해당 영화 상세 페이지로 이동합니다.");
							let movieId = data.movieId;
							//alert(movieId);
							// 이동할 주소 > /movie/movie-detail-view?movieId=
							location.href = "/movie/movie-detail-view?movieId=" + movieId;
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("검색하는데 오류가 있습니다. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // searchBtn 검색 버튼 클릭 이벤트 끝.
		}); // ready 함수 끝
    </script>
	
</body>
</html>