<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.movie.Review.mapper.ReviewMapper">
	<!-- test4 나중에 무시할 것 -->
	<select id="selectReviewListTest" resultType="map">
		SELECT 
			*
		FROM
			`review`
	</select>
	
	<!-- 영화 리뷰 남기기 - db에 insert -->
	<insert id="insertReviewByMovieIdAndUserOriginId" parameterType="map">
		INSERT INTO `review`
		(
			`userId`
			,`movieId`
			,`review`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userOriginId}
			, #{movieId}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert>
</mapper>