<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutForSign}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="MyPageLeft col-3 bg-secondary"></div>		
	<div class="MyPageCenter col-6 bg-warning">
		
		<div class="d-flex justify-content-center">
			<div id="profileBox">
				<h2 class="font-weight-bold ml-4 mt-2" th:text="${session.userNickName}">닉네임</h2>
				<h4 class="font-weight-bold ml-4 mt-2" th:text="${session.userId}">계정(이메일)</h4>
				<hr>
				<div class="d-flex">
					<div class="starByUser col-6">
						<h4 class="font-weight-bold d-flex justify-content-center">내가 남긴 평가</h4>
						<h3 class="font-weight-bold d-flex justify-content-center">12</h3>
					</div>
					<div class="commentByUser col-6">
						<h4 class="font-weight-bold d-flex justify-content-center">내가 남긴 코멘트</h4>
						<h3 class="font-weight-bold d-flex justify-content-center">34</h3>
					</div>
				</div>
			</div>
		</div>
		
		<div class="d-flex justify-content-center">
			<div id="preferenceTypeBox">
				
			</div>
		</div>
		
	</div>		
	<div class="MyPageRight col-3 bg-secondary"></div>		
</section>

<!-- 마이페이지 구상
내 정보 화면에 내 이름, 닉네임, 계정(이메일), 별점 매긴 영화 개수, 코멘트(리뷰)남긴 개수
그리고 그 별점 매긴 개수 클릭하면 실제로 별점 매긴 영화들 리스트 
그리고 그 코멘트(리뷰) 남긴 개수 클릭하면 실제로 남긴 코멘트들 뜨게끔 -->

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>