<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutForSign}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="MyProfileleft col-3"></div>
	
	<div class="MyProfilecenter col-6 mt-5 mb-5">
		<div id="ModifyProfileBox">

				<!-- 회원정보 수정 문구 -->
				<h1 class="d-flex justify-content-center text-white font-weight-bold mt-5 pb-3">회원정보 수정</h1>
				
				<!-- 아이디 변경 -->
				<h3 class="font-weight-bold text-white mt-4 ml-4">아이디 변경</h3> 
				<input type="text" name="OriginUserId" id="OriginUserId" class="form-control mt-2 ml-4 col-5" placeholder="기존 아이디"> <!-- th:text="${session.userId}" 넣어줄 것 -->
				<div class="d-flex">
					<input type="text" name="newUserId" id="newUserId" class="form-control mt-2 ml-4 col-5" placeholder="새로운 아이디">
					<input type="submit" id="duplicateCheckBtn" class="form-control btn btn-success mt-2 ml-3 col-2" value="중복확인">
					<input type="submit" id="modifyIdBtn" class="form-control btn btn-warning mt-2 ml-3 col-2" value="아이디 변경"> 
				</div>
				
				<!-- 숨겨진 텍스트 공간 -->
				<span id="ableToUse" class="text-white font-weight-bold d-none mt-1">사용 가능한 아이디입니다.</span>
				<span id="NotAbleToUse" class="text-white font-weight-bold d-none mt-1">중복된 아이디입니다.</span>

				<!-- 비밀번호 변경 -->
				<h3 class="font-weight-bold text-white mt-5 ml-4">비밀번호 변경</h3>
				<input type="password" name="originPassword" id="originPassword" class="form-control mt-2 ml-4 col-5" placeholder="기존 비밀번호">
				<div class="d-flex">
					<input type="password" name="newPassword" id="newPassword" class="form-control mt-2 ml-4 col-5" placeholder="새로운 비밀번호">
					<input type="password" name="newPasswordCheck" id="newPasswordCheck" class="form-control mt-2 ml-3 col-5" placeholder="새로운 비밀번호 확인">
					<input type="submit" id="checkNewPassword" class="form-control btn btn-warning mt-2 ml-3 col-1" value="확인"> 
				</div>
				<input type="submit" id="modifyPasswordBtn" class="form-control btn btn-warning mt-2 ml-4 col-3" value="비밀번호 변경">
				
				<!-- 닉네임 변경 -->
				<h3 class="font-weight-bold text-white mt-5 ml-4">닉네임 변경</h3> 
				<input type="text" name="OriginUserNickName" id="OriginUserNickName" class="form-control mt-2 ml-4 col-5" placeholder="기존 닉네임"> <!-- th:text="${session.userNickName}" 넣어줄 것 -->
				<div class="d-flex">
					<input type="text" name="newUserNickName" id="newUserNickName" class="form-control mt-2 ml-4 col-5" placeholder="새로운 닉네임">
					<input type="submit" id="modifyUserNickNameBtn" class="form-control btn btn-warning mt-2 ml-3 col-2" value="닉네임 변경"> 
				</div>
				
				<!-- 회원탈퇴 -->
				<h3 class="font-weight-bold text-white mt-5 ml-4">회원탈퇴</h3> 
				<input type="submit" id="deleteAllBtn" class="form-control btn btn-danger mt-2 ml-4 col-4" value="회원탈퇴"> 
		</div>
	</div>
	
	<div class="MyProfileright col-3"></div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>