<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutForSign}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="MyProfileleft col-3"></div>
	
	<div class="MyProfilecenter col-6 mt-5 mb-5">
		<div id="ModifyProfileBox">

				<!-- 회원정보 수정 문구 -->
				<h1 class="d-flex justify-content-center text-white font-weight-bold mt-5 pb-3">회원정보 수정</h1>
				
				<!-- 아이디 변경 -->
				<h3 class="font-weight-bold text-white mt-4 ml-4">아이디 변경</h3> 
				<input type="text" name="OriginUserId" id="OriginUserId" class="form-control font-weight-bold mt-2 ml-4 col-5" th:value="${session.userId}" placeholder="기존 아이디"> <!-- th:value="${session.userId}" 넣어줄 것 -->
				<form action="/user/id-update" method="post">
					<div class="d-flex">
						<input type="text" name="newUserId" id="newUserId" class="form-control mt-2 ml-4 col-5" placeholder="새로운 아이디">
						<input type="submit" id="duplicateCheckBtn2" class="form-control btn btn-success mt-2 ml-3 col-2" value="중복확인">
						<input type="submit" id="modifyIdBtn" class="form-control btn btn-warning mt-2 ml-3 col-2" value="아이디 변경"> 
					</div>
				</form>
				
				<!-- 숨겨진 텍스트 공간 -->
				<span id="ableToUse" class="text-white font-weight-bold d-none mt-2 ml-4">사용 가능한 아이디입니다.</span>
				<span id="NotAbleToUse" class="text-white font-weight-bold d-none mt-2 ml-4">중복된 아이디입니다.</span>

				<!-- 비밀번호 변경 -->
				<h3 class="font-weight-bold text-white mt-5 ml-4">비밀번호 변경</h3>
				<input type="password" name="originPassword" id="originPassword" class="form-control mt-2 ml-4 col-5" placeholder="기존 비밀번호">
				<form action="/user/password-update" method="post">
					<div class="d-flex">
						<input type="password" name="newUserPassword" id="newUserPassword" class="form-control mt-2 ml-4 col-5" placeholder="새로운 비밀번호">
						<input type="password" name="newPasswordCheck" id="newPasswordCheck" class="form-control mt-2 ml-3 col-5" placeholder="새로운 비밀번호 확인">
						<input type="submit" id="checkNewPassword" class="form-control btn btn-warning mt-2 ml-3 col-1" value="확인"> 
					</div>
					<input type="submit" id="modifyPasswordBtn" class="form-control btn btn-warning mt-2 ml-4 col-3" value="비밀번호 변경">
				</form>
				
				<!-- 닉네임 변경 -->
				<h3 class="font-weight-bold text-white mt-5 ml-4">닉네임 변경</h3> 
				<input type="text" name="OriginUserNickName" id="OriginUserNickName" class="form-control font-weight-bold mt-2 ml-4 col-5" th:value="${session.userNickName}" placeholder="기존 닉네임"> <!-- th:value="${session.userNickName}" 넣어줄 것 -->
				<form action="/user/nickName-update" method="post">
					<div class="d-flex">
						<input type="text" name="newUserNickName" id="newUserNickName" class="form-control mt-2 ml-4 col-5" placeholder="새로운 닉네임">
						<input type="submit" id="modifyUserNickNameBtn" class="form-control btn btn-warning mt-2 ml-3 col-2" value="닉네임 변경"> 
					</div>
				</form>
				
				<!-- 회원탈퇴 -->
				<h3 class="font-weight-bold text-white mt-5 ml-4">회원탈퇴</h3> 
				<a href="#" class="withdrawBtn" th:data-review-user-id="${session.userOriginId}" data-toggle="modal" data-target="#modal">
					<input type="submit" id="deleteAllBtn" class="form-control btn btn-danger mt-2 mb-5 ml-4 col-4" value="회원탈퇴"> 
				</a>
		</div>
	</div>
	
	<!-- modal창 -->
	<div class="modal fade" id="modal">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content text-center">
				<div class="my-4">
					<a href="#" id="deleteAll"><h3 class="font-weight-bold text-danger">탈퇴하기</h3></a>
				</div>
				<hr>
				<div class="my-4">
					<a href="#" data-dismiss="modal" class="font-weight-bold text-dark"><h3 class="font-weight-bold text-dark">취소</h3></a>
				</div>
			</div>
		</div>
	</div>
	<!-- modal창 끝 -->
	
	<div class="MyProfileright col-3"></div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			
			
			// duplicateCheckBtn2 새로운 아이디 중복확인 버튼 클릭 이벤트
			$("#duplicateCheckBtn2").on('click', function(e) {
				e.preventDefault(); 
				// alert("중간점검");
				let newUserId = $("#newUserId").val().trim();
				// alert(newUserId);
				$.ajax({
					// request
					type: "post"
					, url: "/user/check-duplicate-new-id"
					, data: {"newUserId":newUserId}
					// response
					, success:function(data) {
						if (data.code == 200) { // 아이디 사용 가능
							$("#ableToUse").removeClass("d-none");
							$("#NotAbleToUse").addClass("d-none");
						} else if (data.code == 500) { // 아이디 사용 불가능
							$("#ableToUse").addClass("d-none");
							$("#NotAbleToUse").removeClass("d-none");
						}
					}
					, error:function(error) {
						alert("아이디 중복확인 실패. 코드상 에러");
					}
				}); // AJAX 끝.
			}); // duplicateCheckBtn2 새로운 아이디 중복확인 버튼 클릭 이벤트 끝.
			
			// modifyIdBtn 아이디 변경 버튼 클릭 이벤트
			$("#modifyIdBtn").on('click', function(e) {
				e.preventDefault();
				//alert("중간점검");
				 
				// validation
				let newUserId = $("#newUserId").val().trim();
				//alert(newUserId);
				
				$.ajax({
					// request
					type: "post"
					, url: "/user/id-update"
					, data: {"newUserId":newUserId}
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("비밀번호 변경 성공. 로그인 페이지로 이동합니다.");
							location.href="/user/sign-in-view";
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // modifyIdBtn 아이디 변경 버튼 클릭 이벤트 끝.
			
			// checkNewPassword 새로운 비밀번호 일치 버튼 클릭 이벤트
			$("#checkNewPassword").on('click', function(e) {
				e.preventDefault();
				//alert("중간점검");
				
				// validation
				let newUserPassword = $("#newUserPassword").val().trim();
				let newPasswordCheck = $("#newPasswordCheck").val().trim();
				//alert(newUserPassword);
				//alert(newPasswordCheck);
				
				// 유효성 체크
				if (newUserPassword == newPasswordCheck) {
					alert("비밀번호가 일치");
					return;
				} else {
					alert("비밀번호가 일치하지 않습니다.");
					return;
				}
			}); // checkNewPassword 새로운 비밀번호 일치 버튼 클릭 이벤트 끝.
			
			// modifyPasswordBtn 비밀번호 변경 버튼 클릭 이벤트
			$("#modifyPasswordBtn").on('click', function(e) {
				e.preventDefault();
				//alert("중간점검");
				
				// validation
				let newUserPassword = $("#newUserPassword").val().trim();
				//alert(newUserPassword);
				
				$.ajax({
					// request
					type: "post"
					, url: "/user/password-update"
					, data: {"newUserPassword":newUserPassword}
				
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("비밀번호 변경 성공. 로그인 페이지로 이동합니다.");
							location.href="/user/sign-in-view";
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					} 
					, error:function(error) {
						alert("서버상의 에러입니다. 확인바랍니다.");
					}
				}); // AJAX 끝.
			}); // modifyPasswordBtn 비밀번호 변경 버튼 클릭 이벤트 끝.
			
			// modifyUserNickNameBtn 닉네임 변경 버튼 클릭 이벤트
			$("#modifyUserNickNameBtn").on('click', function(e) {
				e.preventDefault();
				//alert("중간점검");
							
				// validation
				let newUserNickName = $("#newUserNickName").val();
				//alert(newUserNickName);
				
				$.ajax({
					// request
					type: "post"
					, url: "/user/nickName-update"
					, data: {"newUserNickName":newUserNickName}
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("닉네임 변경 성공. 마이페이지로 이동합니다.");
							//location.reload();
							location.href="/user/mypage-view";
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					} 
					, error:function(error) {
						alert("서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // modifyUserNickNameBtn 닉네임 변경 버튼 클릭 이벤트 끝.
			
			// modal > deleteAll 탈퇴하기 메뉴 클릭 이벤트
			$("#deleteAll").on('click', function(e) {
				e.preventDefault();
				//alert("중간점검");
				
				// validation 필요없음
				
				$.ajax({
					// request
					type: "post"
					, url: "/user/withdraw"
		
					// response
					, success:function(data) {
						if (data.code == 200) { // 회원탈퇴 성공
							alert("회원탈퇴가 되었습니다.");
							location.href = "/user/sign-in-view"; // 로그인 페이지로 이동
						} else if (data.code == 500) { // 회원탈퇴 실패
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // modal > deleteAll 탈퇴하기 메뉴 클릭 이벤트 끝.
			
		}); // ready 함수 끝.
    </script>
</th:block>