<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutForSign}"> <!-- <- 여기 이름 바꿔줘야 한다 -->
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="left bg-warning col-4"></div>
	<div class="center bg-danger col-4 mt-5 mb-5">
		<div class="signUpBox">
		<form action="/user/sign-in" method="post">
			<!-- 로그인 -->
			<h3 class="d-flex justify-content-center font-weight-bold mt-4">회원가입</h3>
			<input type="text" class="form-control mt-4" placeholder="아이디">
			<input type="text" class="form-control mt-3" placeholder="비밀번호">
			<input type="text" class="form-control mt-3" placeholder="이름">
			<input type="text" class="form-control mt-3" placeholder="닉네임">
			<input type="submit" class="form-control btn btn-warning mt-3" value="회원가입">
		</form>
		</div>
	</div>
	<div class="right bg-warning col-4"></div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>