<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutForPage}">
<section layout:fragment="content" class="contents d-flex justify-content-center mt-3">
	<div class="MoviePosterArea col-4 w-100 h-100">
		<img class="MoviePoster2" alt="영화포스터" th:src="${movieInfo.moviePoster}">
	</div>
	<div class="MovieDetailArea col-8 w-100">
		
		<!-- 영화 상세 정보 페이지 -->
		<div class="MovieDetailAreaUp pt-3">
			<h1 class="font-weight-bold" th:text="${movieInfo.movieName}">제목</h1>	
			<h3 class="font-weight-bold" th:text="|${movieInfo.movieYear} - ${movieInfo.movieNation}|">년도/국가</h3>	
			<h3 class="font-weight-bold" th:text="${movieInfo.movieGenre}">장르</h3>	
			<h3 class="font-weight-bold" th:text="${movieInfo.movieDirector}">감독</h3>	
		</div>
		
		<!-- 평점 매기고, 이 영화의 평점 보여주는 영역 -->
		<div class="MovieDetailAreaCenter pt-2 d-flex justify-content-between">
			<div class="star col-6">	
				<a href="#" class="starBtn1">
					<img id="emptyStar1" class="emptyStar1" alt="비워진별점" src="/image/empty_star.png">
					<img id="fullStar1" class="fullStar1 d-none" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn2">
					<img id="emptyStar2" class="emptyStar2" alt="비워진별점" src="/image/empty_star.png">
					<img id="fullStar2" class="fullStar2 d-none" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn3">
					<img id="emptyStar3" class="emptyStar3" alt="비워진별점" src="/image/empty_star.png">
					<img id="fullStar3" class="fullStar3 d-none" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn4">
					<img id="emptyStar4" class="emptyStar4" alt="비워진별점" src="/image/empty_star.png">
					<img id="fullStar4" class="fullStar4 d-none" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn5">
					<img id="emptyStar5" class="emptyStar5" alt="비워진별점" src="/image/empty_star.png">
					<img id="fullStar5" class="fullStar5 d-none" alt="채워진별점" src="/image/full_star.png">
				</a>
				<h4 class="d-flex justify-content-center mt-2">별점 메기기</h4>
			</div>
			<div class="grade pl-5 col-6 d-flex align-items-center">
				<div>	
					<!-- 임시 -->
					<h3 class="d-flex justify-content-center font-weight-bold">n</h3>
					<h3 class="d-flex justify-content-center font-weight-bold">평균별점</h3>
					<!-- 임시 -->
					<h5 class="d-flex justify-content-center font-weight-bold">(1234명)</h5>
				</div>
			</div>
		</div>
		
		<!-- 리뷰 쓰는 영역 -->
		<div class="MovieDetailAreaDown p-3">
			<textarea id="reviewTextArea" name="review" class="reviewTextArea form-control w-100" rows="6" placeholder="리뷰를 남겨보세요!"></textarea>
			<div class="pt-3 d-flex justify-content-end">
				<input type="button" th:data-movie-id="${movieInfo.id}" class="btn reviewListBtn text-white font-weight-bold" value="리뷰 화면으로 이동"> <!-- th:data-movie-id="${movieInfo.id}" 를 썼다는 건 기존 방식으로 한다는 것 -->
				<input type="button" class="btn deleteAllBtn text-white font-weight-bold ml-4" value="리뷰 내용 초기화">
				<input type="submit" class="btn reviewBtn text-white font-weight-bold ml-4" value="리뷰 남기기">
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		// URL에 포함된 movieId(쿼리 파라미터)를 추출한 다음 JavaScript에서 해당 값을 가져와 사용. 
		// 그리고 그 값을 AJAX 요청에 사용.
    	function getQueryParam(param) {
	        let urlParams = new URLSearchParams(window.location.search);
	        return urlParams.get(param);
	    }
    	
		// ready 함수 시작
		$(document).ready(function() {
			
			// reviewListBtn 리뷰화면으로 이동 버튼 클릭 이벤트. 이 영화의 리뷰 페이지로 이동
			$(".reviewListBtn").on('click', function() {
				alert("리뷰화면으로 이동합니다.");
				// url에서 movieId 가져오기 - new 방법
				let movieId = getQueryParam('movieId');
				// let movieId = $(this).data("movie-id"); // 기존 방법
				
				// 이 영화의 리뷰 리스트 페이지로 이동
				location.href="/review/movie-review-list?movieId=" + movieId;
			}); // reviewListBtn 리뷰화면으로 이동 버튼 클릭 이벤트 끝.
			
			// deleteAllBtn 리뷰 내용 초기화 버튼 클릭 이벤트.
			$(".deleteAllBtn").on('click', function(e) {
				e.preventDefault();
				alert("리뷰 내용을 초기화 합니다.");
				
				// 리뷰 내용 초기화 
				$("#reviewTextArea").val("");
			}); // deleteAllBtn 리뷰 내용 초기화 버튼 클릭 이벤트 끝.
			
			// reviewBtn 리뷰 남기기 버튼 클릭 이벤트.
			// ReviewRestController에서 movieId(movie의 pk), userOriginId(user의 pk), review(리뷰내용)를 파라미터로 가져옴
			// movieId <- 음.. 
			// userOriginId는 session에서 가져옴
			// review는 여기서 직접 가져옴
			$(".reviewBtn").on('click', function() {
				alert("리뷰를 남깁니다.");

				// validation
				let review = $("#reviewTextArea").val();
				let movieId = getQueryParam('movieId'); // new 방법
				// let movieId = $(this).data("movie-id"); // 기존 방법
				
				// 유효성 검사 - null 허용이지만 리뷰 안남길거면 굳이 왜 리뷰 남기기 버튼을 누르겠나
				if (!review) {
					alert("리뷰 내용이 없습니다. 리뷰 내용을 입력해주세요.");
					return false;
				}
				
				// 폼
				let formData = new FormData();
				formData.append("review", review);
				// formData.append("movieId", movieId); // new 방법
				formData.append("movieId", movieId); // 기존방법
				
				$.ajax({
					// request
					type: "post"
 					, url: "/review/create-review"
					, data: formData
					, processData: false
					, contentType: false
					// response
					, success:function(data) {
						if (data.code == 200) {
							// 리뷰 남기기 성공
							alert("리뷰 남기기 성공! 리뷰 화면으로 이동합니다.");
							location.href="/review/movie-review-list?movieId=" + movieId;
						} else if (data.code == 500) {
							// 리뷰 남기기 실패
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // reviewBtn 리뷰 남기기 버튼 클릭 이벤트 끝.
			
			// 1,2,3,4,5 각 별점 toggle 시작
			// starBtn1 1점 매기기 버튼 클릭 이벤트
			$(".starBtn1").on('click', function(e) {
				e.preventDefault();
				// alert("중간점검");
		
				// url에서 movieId 꺼내오기 - new 방법 
				let movieId = getQueryParam('movieId');
				// alert(movieId); > 확인
				
				$.ajax({
					// request
					type: "get"
					, url: "/star1/" + movieId
					, data: {"movieId":movieId}
				
					// response
					, success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else if (data.code == 403) { // 비로그인 상태
							alert(data.error_message);
							// 로그인 페이지로 이동
							location.href = "/user/sign-in-view";
						} 
					}
					, error:function(error) {
						alert("별점을 매기는데 실패. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // starBtn1 1점 매기기 버튼 클릭 이벤트 끝.
			
			// starBtn2 2점 매기기 버튼 클릭 이벤트
			$(".starBtn2").on('click', function(e) {
				e.preventDefault();
				// alert("중간점검");
				
				// url에서 movieId 꺼내오기 - new 방법 
				let movieId = getQueryParam('movieId');
				// alert(movieId); > 확인
				
				$.ajax({
					// request
					type: "get"
					, url: "/star2/" + movieId
					, data: {"movieId":movieId}
					// response
					, success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else if (data.code == 403) { // 비로그인 상태
							alert(data.error_message);
							// 로그인 페이지로 이동
							location.href = "/user/sign-in-view";
						} 
					}
					, error:function(error) {
						alert("별점을 매기는데 실패. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // starBtn2 2점 매기기 버튼 클릭 이벤트 끝.

			// starBtn3 3점 매기기 버튼 클릭 이벤트
			$(".starBtn3").on('click', function(e) {
				e.preventDefault();
				// alert("중간점검");
				
				// url에서 movieId 꺼내오기 - new 방법 
				let movieId = getQueryParam('movieId');
				// alert(movieId); > 확인
				
				$.ajax({
					// request
					type: "get"
					, url: "/star3/" + movieId
					, data: {"movieId":movieId}
					// response
					, success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else if (data.code == 403) { // 비로그인 상태
							alert(data.error_message);
							// 로그인 페이지로 이동
							location.href = "/user/sign-in-view";
						} 
					}
					, error:function(error) {
						alert("별점을 매기는데 실패. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // starBtn3 3점 매기기 버튼 클릭 이벤트 끝.
			
			// starBtn4 4점 매기기 버튼 클릭 이벤트
			$(".starBtn4").on('click', function(e) {
				e.preventDefault();
				// alert("중간점검");
				
				// url에서 movieId 꺼내오기 - new 방법 
				let movieId = getQueryParam('movieId');
				// alert(movieId); > 확인
				
				$.ajax({
					// request
					type: "get"
					, url: "/star4/" + movieId
					, data: {"movieId":movieId}
					// response
					, success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else if (data.code == 403) { // 비로그인 상태
							alert(data.error_message);
							// 로그인 페이지로 이동
							location.href = "/user/sign-in-view";
						} 
					}
					, error:function(error) {
						alert("별점을 매기는데 실패. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // starBtn4 4점 매기기 버튼 클릭 이벤트 끝.
			
			// starBtn5 5점 매기기 버튼 클릭 이벤트
			$(".starBtn5").on('click', function(e) {
				e.preventDefault();
				// alert("중간점검");
				
				// url에서 movieId 꺼내오기 - new 방법 
				let movieId = getQueryParam('movieId');
				// alert(movieId); > 확인
				
				$.ajax({
					// request
					type: "get"
					, url: "/star5/" + movieId
					, data: {"movieId":movieId}
					// response
					, success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else if (data.code == 403) { // 비로그인 상태
							alert(data.error_message);
							// 로그인 페이지로 이동
							location.href = "/user/sign-in-view";
						} 
					}
					, error:function(error) {
						alert("별점을 매기는데 실패. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // starBtn5 5점 매기기 버튼 클릭 이벤트 끝.
			// 1,2,3,4,5 각 별점 toggle 끝.
		}); // ready 함수 끝.
    </script>
</th:block>