<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutForPage}">
<section layout:fragment="content" class="contents d-flex justify-content-center mt-3">
	<div class="MoviePosterArea col-4 w-100 h-100">
		<img class="MoviePoster2" alt="영화포스터" th:src="${movieInfo.moviePoster}">
	</div>
	<div class="MovieDetailArea col-8 w-100">
		
		<!-- 영화 상세 정보 페이지 -->
		<div class="MovieDetailAreaUp pt-3">
			<h1 class="font-weight-bold" th:text="${movieInfo.movieName}">제목</h1>	
			<h3 class="font-weight-bold" th:text="|${movieInfo.movieYear} - ${movieInfo.movieNation}|">년도/국가</h3>	
			<h3 class="font-weight-bold" th:text="${movieInfo.movieGenre}">장르</h3>	
			<h3 class="font-weight-bold" th:text="${movieInfo.movieDirector}">감독</h3>	
		</div>
		
		<!-- 평점 매기고, 이 영화의 평점 보여주는 영역 -->
		<div class="MovieDetailAreaCenter pt-2 d-flex justify-content-between">
			<div class="star col-6">	
				<a href="#" class="starBtn">
					<img th:unless="${starInfo?.point} == 1 or ${starInfo?.point} == 2 or ${starInfo?.point} == 3 or ${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-one="1" id="emptyStar1" class="emptyStar1" alt="비워진별점" src="/image/empty_star.png">
					<img th:if="${starInfo?.point} == 1 or ${starInfo?.point} == 2 or ${starInfo?.point} == 3 or ${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-one="1" id="fullStar1" class="fullStar1" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn">
					<img th:unless="${starInfo?.point} == 2 or ${starInfo?.point} == 3 or ${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-two="2" id="emptyStar2" class="emptyStar2" alt="비워진별점" src="/image/empty_star.png">
					<img th:if="${starInfo?.point} == 2 or ${starInfo?.point} == 3 or ${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-two="2" id="fullStar2" class="fullStar2" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn">
					<img th:unless="${starInfo?.point} == 3 or ${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-three="3" id="emptyStar3" class="emptyStar3" alt="비워진별점" src="/image/empty_star.png">
					<img th:if="${starInfo?.point} == 3 or ${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-three="3" id="fullStar3" class="fullStar3" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn">
					<img th:unless="${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-four="4" id="emptyStar4" class="emptyStar4" alt="비워진별점" src="/image/empty_star.png">
					<img th:if="${starInfo?.point} == 4 or ${starInfo?.point} == 5" th:data-point-four="4" id="fullStar4" class="fullStar4" alt="채워진별점" src="/image/full_star.png">
				</a>
				<a href="#" class="starBtn">
					<img th:unless="${starInfo?.point} == 5" th:data-point-five="5" id="emptyStar5" class="emptyStar5" alt="비워진별점" src="/image/empty_star.png">
					<img th:if="${starInfo?.point} == 5" th:data-point-five="5" id="fullStar5" class="fullStar5" alt="채워진별점" src="/image/full_star.png">
				</a>
				<h4 class="d-flex justify-content-center mt-2">별점 메기기</h4>
			</div>
			<div class="grade pl-5 col-6 d-flex align-items-center">
				<div>	
					<!-- 평균 별점 -->
					<h3 th:text="${pointAvg}" class="d-flex justify-content-center font-weight-bold">n</h3>
					<h3 class="d-flex justify-content-center font-weight-bold">평균별점</h3>
					<!-- 몇 명이나 매겼나 -->
					<div class="d-flex justify-content-center">
						<h5>(</h5>
						<h5 th:text="${starCount}" class="font-weight-bold">(1234명)</h5>
						<h5 class="font-weight-bold">명</h5>
						<h5>)</h5>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 리뷰 쓰는 영역 -->
		<div class="MovieDetailAreaDown p-3">
			<textarea id="reviewTextArea" name="review" class="reviewTextArea form-control w-100" rows="6" placeholder="리뷰를 남겨보세요!"></textarea>
			<div class="pt-3 d-flex justify-content-end">
				<input type="button" th:data-movie-id="${movieInfo.id}" class="btn reviewListBtn text-white font-weight-bold" value="리뷰 화면으로 이동"> <!-- th:data-movie-id="${movieInfo.id}" 를 썼다는 건 기존 방식으로 한다는 것 -->
				<input type="button" class="btn deleteAllBtn text-white font-weight-bold ml-4" value="리뷰 내용 초기화">
				<input type="submit" class="btn reviewBtn text-white font-weight-bold ml-4" value="리뷰 남기기">
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		// URL에 포함된 movieId(쿼리 파라미터)를 추출한 다음 JavaScript에서 해당 값을 가져와 사용. 
		// 그리고 그 값을 AJAX 요청에 사용.
    	function getQueryParam(param) {
	        let urlParams = new URLSearchParams(window.location.search);
	        return urlParams.get(param);
	    }
    	
		// ready 함수 시작
		$(document).ready(function() {
			
			// reviewListBtn 리뷰화면으로 이동 버튼 클릭 이벤트. 이 영화의 리뷰 페이지로 이동
			$(".reviewListBtn").on('click', function() {
				alert("리뷰화면으로 이동합니다.");
				// url에서 movieId 가져오기 - new 방법
				let movieId = getQueryParam('movieId');
				// let movieId = $(this).data("movie-id"); // 기존 방법
				
				// 이 영화의 리뷰 리스트 페이지로 이동
				location.href="/reviewList/reviewList-view?movieId=" + movieId;
			}); // reviewListBtn 리뷰화면으로 이동 버튼 클릭 이벤트 끝.
			
			// deleteAllBtn 리뷰 내용 초기화 버튼 클릭 이벤트.
			$(".deleteAllBtn").on('click', function(e) {
				e.preventDefault();
				alert("리뷰 내용을 초기화 합니다.");
				
				// 리뷰 내용 초기화 
				$("#reviewTextArea").val("");
			}); // deleteAllBtn 리뷰 내용 초기화 버튼 클릭 이벤트 끝.
			
			// reviewBtn 리뷰 남기기 버튼 클릭 이벤트.
			// ReviewRestController에서 movieId(movie의 pk), userOriginId(user의 pk), review(리뷰내용)를 파라미터로 가져옴
			// movieId <- 음.. 
			// userOriginId는 session에서 가져옴
			// review는 여기서 직접 가져옴
			$(".reviewBtn").on('click', function() {
				alert("리뷰를 남깁니다.");

				// validation
				let review = $("#reviewTextArea").val();
				let movieId = getQueryParam('movieId'); // new 방법
				// let movieId = $(this).data("movie-id"); // 기존 방법
				
				// 유효성 검사 - null 허용이지만 리뷰 안남길거면 굳이 왜 리뷰 남기기 버튼을 누르겠나
				if (!review) {
					alert("리뷰 내용이 없습니다. 리뷰 내용을 입력해주세요.");
					return false;
				}
				
				// 폼
				let formData = new FormData();
				formData.append("review", review);
				// formData.append("movieId", movieId); // new 방법
				formData.append("movieId", movieId); // 기존방법
				
				$.ajax({
					// request
					type: "post"
 					, url: "/review/create-review"
					, data: formData
					, processData: false
					, contentType: false
					// response
					, success:function(data) {
						if (data.code == 200) {
							// 리뷰 남기기 성공
							alert("리뷰 남기기 성공! 리뷰 화면으로 이동합니다.");
							// /reviewList/reviewList-view?movieId=3 0819 수정
							location.href="/reviewList/reviewList-view?movieId=" + movieId;
						} else if (data.code == 500) {
							// 리뷰 남기기 실패
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // reviewBtn 리뷰 남기기 버튼 클릭 이벤트 끝.
			
			
			// starBtn 별점 매기기 별 클릭 이벤트
			$(".starBtn").on('click', function(e) {
				e.preventDefault();
				// alert("중간점검");
		
				// url에서 movieId 꺼내오기 - new 방법 
				let movieId = getQueryParam('movieId');
				// alert(movieId); > 확인
				
				// point값 할당
				let point = 
					$(this).find("img").data("point-one") || 
					$(this).find("img").data("point-two") || 
					$(this).find("img").data("point-three") || 
					$(this).find("img").data("point-four") || 
					$(this).find("img").data("point-five");
				//alert(point + "점");
				
				// 각 별 당 고유의 point 꺼내오기 테스트
				//let point1 = $("#emptyStar1").data("point-one");
				//let point2 = $("#emptyStar2").data("point-two");
				//let point3 = $("#emptyStar3").data("point-three");
				//let point4 = $("#emptyStar4").data("point-four");
				//let point5 = $("#emptyStar5").data("point-five");
				//alert(point1);
				//alert(point2);
				//alert(point3);
				//alert(point4);
				//alert(point5); > 전부 확인 완료. 잘 꺼내와짐

				// 테스트
				//if ($("#emptyStar2").on('click')) { 
				//	alert($("#emptyStar2").data("point-two"));
				//} 
				
				// 여기서부터 다시 해보고 다시 생각해볼 것(0808 저녁부터)
				// 파라미터인 point에 각각의 상황(몇번 별을 클릭했는지)에 맞게 validation
				//if ($("#emptyStar1").on('click')) { 
					// 1번 별을 클릭한 경우
				//	let point = $("#emptyStar1").data("point-one"); // 1점
				//} else if ($("#emptyStar2").on('click')) { 
					// 2번 별을 클릭한 경우
				//	let point = $("#emptyStar2").data("point-two"); // 2점
				//} else if ($("#emptyStar3").on('click')) { 
					// 3번 별을 클릭한 경우
				//	let point = $("#emptyStar3").data("point-three"); // 3점
				//} else if ($("#emptyStar4").on('click')) { 
					// 4번 별을 클릭한 경우
				//	let point = $("#emptyStar4").data("point-four"); // 4점
				//} else { 
					// 5번 별을 클릭한 경우
				//	let point = $("#emptyStar5").data("point-five"); // 5점
				//}
				
				// 폼
				let formData = new FormData();
				formData.append("movieId", movieId); 
				formData.append("point", point);
				
				$.ajax({
					// request 
					type: "post"
 					, url: "/star/" + movieId
					, data: formData
					, processData: false
					, contentType: false
					
					// response
					, success:function(data) {
						if (data.code == 200) {
							//alert("별점 매기기/삭제하기 성공!");
							location.reload(true);
						} else if (data.code == 403) { // 비로그인 상태
							alert(data.error_message);
							// 로그인 페이지로 이동
							location.href = "/user/sign-in-view";
						} 
					}
					, error:function(error) {
						alert("별점을 매기는데 실패. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // starBtn 별점 매기기 별 클릭 이벤트 끝.
			
		}); // ready 함수 끝. 
    </script>
</th:block>