<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
        <!-- jQuery 라이브러리 포함 -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
	<header th:fragment="headerFragmentForPage">
		<div class="d-flex justify-content-between h-100 align-items-center">
			<div class="d-flex align-items-center">	
				<!-- 로고 영역 -->
				<a href="/movie/movie-list-view"><img id="logoimage" class="logoimage mt-4 ml-4" alt="왓챠피디아 로고" src="/image/WATCHA_PEDIA_Logo_Main1.png"></a>
				<!-- 메뉴 영역 -->
				<nav class="nav mt-4 ml-4 mr-5">
					<h4 class="font-weight-bold"><li class="nav-link"><a href="/movie/movie-list-view" class="text-dark">영화</a></li></h4>
					<h4 class="font-weight-bold"><li class="nav-link"><a href="#" class="text-dark">시리즈</a></li></h4>
					<h4 class="font-weight-bold"><li class="nav-link"><a href="#" class="text-dark">책</a></li></h4>
					<h4 class="font-weight-bold"><li class="nav-link"><a href="#" class="text-dark">웹툰</a></li></h4>
				</nav>
				<!-- 검색창 영역 form -->
				<!-- <form action="/movie/movie-search" method="get"> -->
					<div class="d-flex mt-4 ml-5">
						<div class="input-group-prepend">
	          				<div class="input-group-text">Q</div>
		        		</div>
		       			<input type="text" id="searchMovie" name="searchMovie" class="form-control col-12" placeholder="영화를 검색해보세요.">
						<input type="button" id="searchBtn" class="form-control font-weight-bold" value="검색">
					</div>
				<!-- </form> -->
			</div>
			<!-- 로그인한 유저 정보(닉네임) -->
			<div class="userInfo mt-3">	
				<div class="mr-5" th:if="${session.userId != null}">
					<h3 class="font-weight-bold" th:text="|${session.userNickName} 님 안녕하세요|"></h3>
					<h3 class="font-weight-bold"><a href="/user/sign-out">로그아웃</a></h3>
				</div>
				<div class="d-flex mr-5" th:unless="${session.userId != null}">
					<h3 class="font-weight-bold"><a href="/user/sign-in-view">로그인</a></h3>
					<h3 class="ml-5 font-weight-bold"><a href="/user/sign-up-view">회원가입</a></h3>
				</div>
			</div>
		</div>
		<hr>
	</header>

<th:block layout:fragment="script">
   <!--  <script>
		$(document).ready(function() {
			// searchBtn 검색 버튼 클릭 이벤트
			$("#searchBtn").on('click', function(/*e*/) {
				//e.preventDefault();
				alert("중간점검"); 
				
				// validation
				let movieInfo = $("#searchMovie").val();
				
				$.ajax({
					// request
					type: "get"
					, url: "/movie/movie-search"
					, data: {"movieInfo":movieInfo}
				
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("해당 영화 상세 페이지로 이동합니다.");
							let movieId = data.movieId;
							alert(movieId);
							// 이동할 주소 > /movie/movie-detail-view?movieId=
							//location.href = "/movie/movie-detail-view?movieId=" + movieId;
						} else if (data.code == 500) {
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("검색하는데 오류가 있습니다. 서버상의 에러입니다.");
					}
				}); // AJAX 끝.
			}); // searchBtn 검색 버튼 클릭 이벤트 끝.
		}); // ready 함수 끝
    </script> -->
</th:block>