@charset "UTF-8";

header {height: 100px; background-color: white;}
.logoimage {height: 100px}
.contents {min-height: 600px}
footer {height: 100px; background-color: white;}

.left, .center, .right {min-height: 600px}
.signUpBox {margin: 80px 50px}
.signInBox {margin: 150px 50px}
.center {background-color: #FF0558}

#moviePoster {width: 245px; height: 350px}