@charset "UTF-8";

header {height: 100px; background-color: white;}
.logoimage {height: 100px}
.contents {min-height: 600px}
footer {height: 100px; background-color: white;}

.left, .center, .right {min-height: 600px}
.signUpBox {margin: 80px 50px}
.signInBox {margin: 150px 50px}
.center {background-color: #FF0558}

.article {display: flex; flex-wrap: wrap;}
.movieInfo {width: 270px; height: 500px}
#moviePoster {width: 270px; height: 386px}

.MoviePoster2 {width: 420px; height: 600px;}
.MovieDetailAreaUp {height: 200px}
.MovieDetailAreaCenter {height: 150px}
.MovieDetailAreaDown {height: 250px}
.reviewTextArea {width: 1080px}

.reviewListBtn, .deleteAllBtn, .reviewBtn {background-color: #FF0558}

.reviewBox { 
	width: 320px;
	height: 270px;
	border-radius: 5px;
	background-color: #e9e9e9;
	}

